services:
  caddy:
    image: caddy:2.10
    container_name: caddy
    volumes:
      - ./configs/Caddyfile.custom:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    ports:
      - "80:80"
      - "443:443"
    networks:
      - navidrome
    restart: unless-stopped

volumes:
  caddy_data:
  caddy_config:
