services:
  caddy:
    image: caddy:2.10
    container_name: caddy
    labels:
      - 'wud.tag.include=^\d+\.\d+$'
    volumes:
      - ./configs/Caddyfile.custom:/etc/caddy/Caddyfile:ro
      - ${VOLUMES_PATH}/caddy/data:/data
      - ${VOLUMES_PATH}/caddy/config:/config
    ports:
      - "80:80"
      - "443:443"
    networks:
      frontend:
      caddy-with-admin:
        # This enable Prometheus to access the admin endpoint
        # without exposing it to anyone else
        aliases:
          - caddy-admin
    restart: unless-stopped
  
  ddclient:
    image: linuxserver/ddclient:4.0.0
    profiles: ["prod"]
    container_name: ddclient
    labels:
      - 'wud.tag.include=^\d+\.\d+\.\d+$'
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
    volumes:
      - ./configs/ddclient.conf.custom:/config/ddclient.conf:ro
      # Optional runtime logs/cache (persisted)
      - ${VOLUMES_PATH}/ddclient:/data:rw
    networks:
      - internal
    restart: unless-stopped

